<!DOCTYPE html>
<html>
  <title>UF Directory</title>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>Add New Study</h1>
        <br>
      </div>
      <div class="row" ng-controller="AddStudyController">
        <div class="col-md-7">
          <div class="form-group row-md-6">
            <div class="input-group">
              <div class="row">
                <div class="form-group row-md-6">
                  <label>Study Name:</label>
                  <input type="text" ng-model="listOfDatabaseNames.study_name" class="form-control" placeholder="Study Name">
                </div>
                <br><br><br>
                <div class="form-group row-md-6">
                  <label>Coordinator Name:</label>
                  <input type="text" ng-model="listOfDatabaseNames.coordinator" class="form-control" placeholder="Coordinator Name">
                </div>
                <br><br>
                <div class="form-group row-md-6">
                  <label>Coordinator Phone Number:</label>
                  <input type="text" ng-model="listOfDatabaseNames.coordinator_phone_number" class="form-control" placeholder="Coordinator Phone Number">
                </div>
                <br><br>
                <div class="form-group row-md-6">
                  <label>Coordinator Email:</label>
                  <input type="text" ng-model="listOfDatabaseNames.coordinator_email" class="form-control" placeholder="Coordinator Email">
                </div>
              </div>
              <br><br>
              <div class="form-group row-md-6 top-buffer">
                <table class="table table-hover" ng-init=findRequirements()>
                  <tr>
                    <th>Requirement Name</th>
                    <th>Type of Requirement</th>
                    <th>Parameter</th>
                    <th></th>
                  </tr>
                  <tr ng-repeat="requirement in requirementsAddedToStudy track by $index">
                    <td ng-bind="requirement.requirementName"></td>
                    <td ng-bind="requirement.typeOfRequirement"></td>
                    <td ng-if="isBoolean(requirement)">
                      <form action="">
                        <input type="radio" ng-model="listOfDatabaseNames[requirement.databaseName]" ng-value=true>  True<br>
                        <input type="radio" ng-model="listOfDatabaseNames[requirement.databaseName]" ng-value=false>  False<br>
                      </form>
                    </td>
                    <td ng-if="isRange(requirement)">
                      <form action="">
                        <input type="text" placeholder="Lower Bound" ng-model="listOfDatabaseNames[requirement.databaseName].lower_bound"><br>
                        <input type="text" placeholder="Upper Bound" ng-model="listOfDatabaseNames[requirement.databaseName].upper_bound"><br>
                      </form>
                    </td>
                    <td ng-if="isGender(requirement)">
                      <form action="">
                        <input type="radio" ng-model="listOfDatabaseNames[requirement.databaseName]" ng-value="male">  Male<br>
                        <input type="radio" ng-model="listOfDatabaseNames[requirement.databaseName]" ng-value="false">  Female<br>
                      </form>
                    </td>
                    <td><button type="button" class="form-control btn btn-danger"
                      ng-click="removeRequirementFromStudy(requirement)">Remove</button></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <br>

          <div class="form-group row-md-6">
            <div class="form-group col-md-6">
              <button type="button" class="form-control"
              ng-click="addNewStudyToDatabase()">Add Study</button>
            </div>
          </div>

        </div>


        <div class="col-md-5 top-buffer bottom-margin">
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchEntry" ng-change="filterListOfRequirements()">
          </div>

          <br>

          <table class="table table-hover" ng-init=findRequirements()>
            <tr>
              <th>Requirement Name</th>
              <th>Type of Requirement</th>
              <th></th>
            </tr>
            <tr ng-repeat="requirement in requirementsNotAddedToStudyandFiltered track by $index">
              <td ng-bind="requirement.requirementName"></td>
              <td ng-bind="requirement.typeOfRequirement"></td>
              <td><button type="button" class="form-control btn btn-primary"
                ng-click="addRequirementToStudy(requirement)">Add Requirement</button></td>
            </tr>
          </table>

          <br><br><br>

          <button type="button" class="form-control btn btn-primary" ui-sref="createNewRequirement">Create New Requirement</button>

        </div>
      </div>
    </div>
  </body>
</html>
