  <!-- This is the add new study html page. 
  Whenever new study is added, it is added to database (MLAB)  -->
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/modules/core/client/css/core.css">
  <title>UF Directory</title>
  <head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>Add New Study</h1>
        <br>
      </div>
        <!-- Defining the controller here  -->
      <div class="row" ng-controller="AddStudyController">
        <div id="hello" class="col-md-6">
          <div class="form-group lg-left-margin row-md-5">
            <div class="input-group">
              <div class="row right-margin">
                <div class="form-group row-md-5 top-margin ">
                  <label>Study Name:</label>
                    <!--  study name text box to enter study name for the new study -->
                  <input type="text" ng-model="listOfDatabaseNames.study_name" class="form-control" placeholder="Study Name">
                </div>
                <br><br><br>
                <div class="form-group row-md-5">
                  <label>Coordinator Name:</label>
                   <!--  coordinator name text box to enter coordinator name for the new study  -->
                  <input type="text" ng-model="listOfDatabaseNames.coordinator" class="form-control" placeholder="Coordinator Name">
                </div>
                <br><br>
                <div class="form-group row-md-5">
                  <label>Coordinator Phone Number:</label>
                    <!--  phone number text box to enter for the new study-->
                  <input type="text" ng-model="listOfDatabaseNames.coordinator_phone_number" class="form-control" placeholder="Coordinator Phone Number">
                </div>
                <br><br>
                <div class="form-group row-md-5">
                  <label>Coordinator Email:</label>
                    <!-- Email text box to enter email for the new study  -->
                  <input type="text" ng-model="listOfDatabaseNames.coordinator_email" class="form-control" placeholder="Coordinator Email">
                </div>
              </div>
              <br><br>
              <div class="form-group row-md-5">
                <table class="table table-hover" ng-init=findRequirements()>
                  <tr>
                    <th>Requirement Name</th>
                    <th>Type of Requirement</th>
                    <th>Parameters</th>
                    <th></th>
                  </tr>
                  <tr ng-repeat="requirement in requirementsAddedToStudy track by $index">
                    <td ng-bind="requirement.requirementName"></td>
                    <td ng-bind="requirement.typeOfRequirement"></td>
                    <td ng-if="requirement.typeOfRequirement == 'Boolean'">
                      <form action="">
                        <!-- It's giving option to admin to allow them requirement that is boolean  -->
                        <input type="radio" ng-model="listOfDatabaseNames[requirement.databaseName]" ng-value=true>  True<br>
                        <input type="radio" ng-model="listOfDatabaseNames[requirement.databaseName]" ng-value=false>  False<br>
                      </form>
                    </td>
                    <td ng-if="requirement.typeOfRequirement == 'Range'">
                      <form action="">
                        <!-- It's giving option to admin to allow them requirement that is upper bound and lower bound
                          Note: Not both of the field is required. Only upper bound can be entered and that is fine
                          -->
                        <input type="number" placeholder="Lower Bound" ng-model="listOfDatabaseNames[requirement.databaseName].lower_bound"><br>
                        <input type="number" placeholder="Upper Bound" ng-model="listOfDatabaseNames[requirement.databaseName].upper_bound"><br>
                      </form>
                    </td>
                    <td ng-if="requirement.typeOfRequirement == 'Gender'">
                      <form action="">
                         <!-- It's giving option to admin to allow them requirement that is for gender. 
                              This is not required.
                          -->
                        <input type="radio" ng-model="listOfDatabaseNames[requirement.databaseName]" ng-value="male">  Male<br>
                        <input type="radio" ng-model="listOfDatabaseNames[requirement.databaseName]" ng-value="false">  Female<br>
                      </form>
                    </td>
                    <td ng-if="requirement.typeOfRequirement == 'Custom'">
                      <div ng-repeat="option in requirement.customOptions">
                        <input type="radio" ng-model="listOfDatabaseNames[requirement.databaseName]" ng-value="option">  {{option}} <br>
                      </div>
                    </td>
                    <td><button type="button" class="form-control btn btn-danger"
                      ng-click="removeRequirementFromStudy(requirement)">Remove</button></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <br>

          <div class="form-group row-md-5 bottom-margin">
                  <!-- This is where new add study button is happening. When it's clicked, it goes to the
                controller and study is added to the database -->
            <button type="button" class="form-control btn btn-primary" ng-click="addNewStudyToDatabase()">Add Study</button>
          </div>
        </div>

        <div class="col-md-1">

        </div>

        <div id="hello" class="col-md-5 bottom-margin">
          <div class="input-group top-margin" id="searchBar">
             <!-- Search bar for searching requirement for adding study such as LAR, AGE, etc -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchEntry" ng-change="filterListOfRequirements()">
          </div>

          <br>

          <table class="table table-hover" ng-init=findRequirements()>
            <tr>
              <th>Requirement Name</th>
              <th>Type of Requirement</th>
              <th></th>
            </tr>
            <tr ng-repeat="requirement in requirementsNotAddedToStudyandFiltered track by $index">
              <td ng-bind="requirement.requirementName"></td>
              <td ng-bind="requirement.typeOfRequirement"></td>
              <td><button type="button" class="form-control btn btn-primary"
                ng-click="addRequirementToStudy(requirement)">Add Requirement</button></td>
            </tr>
          </table>

      </div>
    </div>
  </body>
</html>
