<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/modules/core/client/css/core.css">
<link rel="stylesheet" href="/modules/core/client/css/home.client.css">
  <head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <br>
<!--using the edit controller to control data -->
  <body ng-app="app" style="background-color:#7B7D7D">
    <div ng-controller="EditController">
      <div class="container" ng-init="init()">
        <div id=hello  class="col-md-5 top-margin bottom-margin">

          <!--users can edit/delete different fields of the study such as name, inclusion/exclusion criteria -->
          <h3 class="top-margin">Study Name:</h3>
          <input class="bottom-margin" type="text" ng-model="study['study_name']"></input>

          <h4><strong><em style="text-decoration: underline;">Inclusion Criteria</em></strong></h4>
          <h5 data-ng-repeat="x in study.inclusion track by $index">
            <p>Inclusion <span ng-bind="$index + 1"></span>: </p>
            <textarea class="form-control sm-bottom-margin" cols="120" rows="4" ng-model=study.inclusion[$index]> </textarea>
            <button class="btn btn-danger" ng-click="removeCurrentInclusionPrinciple($index)">Remove</button>
          </h5>
          <br>
        <!-- button calls the funciton to add a new inclusion criteria if that is necesary for the study-->
          <button class="btn btn-primary" ng-click="addNewInclusionPrinciple()">Add New Inclusion Princple</button>
          <br><br><br>

        <!-- individual exclusion criteria can be edited, deleted or created-->
          <h4><strong><em style="text-decoration: underline;">Exclusion Criteria</em></strong></h4>
          <h5 data-ng-repeat="x in study.exclusion track by $index">
            <p>Exclusion <span ng-bind="$index + 1"></span>: </p>
            <textarea class="form-control sm-bottom-margin" cols="120" rows="4" ng-model=study.exclusion[$index]> </textarea>
            <button class="btn btn-danger" ng-click="removeCurrentExclusionPrinciple($index)">Remove</button>
          </h5>
          <br>
          <button class="btn btn-primary" ng-click="addNewExclusionPrinciple()">Add New Exclusion Princple</button>
          <br><br><br>

        <!-- users can edit coordinator information such as name, phone number, and email-->
          <h3><strong><em style="text-decoration: underline;">Coordinator Information</em></strong></h3>
          Coordinator:
          <input type="text" ng-model="study['coordinator']"></input>
          <br><br>

          Coordinator Phone Number:
          <input type="text" ng-model="study['coordinator_phone_number']"></input>
          <br><br>

          Coordinator Email:
          <input type="text" ng-model="study['coordinator_email']"></input>
          <br><br><br><br><br>

          <!--buttons that activate the functions to save the edited data or cancel the new inputs and keep the previous data -->
          <div class="sm-bottom-margin">
            <button class="btn btn-primary .btn-default" ng-click="save(study)">Save</button>
            <button class="btn btn-danger left-margin" ng-click="cancel()">Cancel</button>
          </div>
        </div>

        <div class="col-md-1">
        </div>

        <div class="col-md-6 top-margin">

          <div id="white-container" class="row">
            <div class="left-margin right-margin">
              <h3 align="center">Current Requirements</h3>
              <table class="table table-hover">
                <tr>
                  <th>Requirement Name</th>
                  <th>Type of Requirement</th>
                  <th>Parameters</th>
                  <th></th>
                </tr>
                <tr class="left-margin" ng-repeat="requirement in requirementsInStudy track by $index">
                  <td ng-bind="requirement.requirementName"></td>
                  <td ng-bind="requirement.typeOfRequirement"></td>
                  <td ng-if="requirement.typeOfRequirement == 'Boolean'">
                    <form action="">
                      <!-- It's giving option to admin to allow them requirement that is boolean  -->
                      <input type="radio" ng-model="listOfAnswersByIDs[requirement._id]" ng-value=true>  True<br>
                      <input type="radio" ng-model="listOfAnswersByIDs[requirement._id]" ng-value=false>  False<br>
                    </form>
                  </td>
                  <td ng-if="requirement.typeOfRequirement == 'Range'">
                    <form action="">
                      <input type="number" placeholder="No Lower Bound" ng-model="listOfAnswersByIDs[requirement._id].lower_bound"><br>
                      <input type="number" placeholder="No Upper Bound" ng-model="listOfAnswersByIDs[requirement._id].upper_bound"><br>
                    </form>
                  </td>
                  <td ng-if="requirement.typeOfRequirement == 'Custom'">
                    <div ng-repeat="option in requirement.customOptions">
                      <input type="radio" ng-model="listOfAnswersByIDs[requirement._id]" ng-value="option">  {{option}} <br>
                    </div>
                  </td>
                  <td><button type="button" class="form-control btn btn-danger"
                    ng-click="removeRequirementFromStudy(requirement)">Remove</button></td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row">
            <br>
          </div>

          <div id="white-container" class="row bottom-margin">
            <div class="left-margin right-margin">
              <h3 align="center">All Other Requirements</h3>
              <div class="input-group top-margin sm-bottom-margin" id="searchBar">
                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" placeholder="Search" ng-model="searchEntry" ng-change="filterListOfRequirements()">
              </div>
              <table class="table table-hover">
                <tr>
                  <th>Requirement Name</th>
                  <th>Type of Requirement</th>
                  <th></th>
                </tr>
                <tr ng-repeat="requirement in requirementsNotInStudyAndFiltered track by $index">
                  <td ng-bind="requirement.requirementName"></td>
                  <td ng-bind="requirement.typeOfRequirement"></td>
                  <td><button type="button" class="form-control btn btn-primary"
                    ng-click="addRequirementToStudy(requirement)">Add Requirement</button></td>
                </tr>
              </table>
            </div>
          </div>

        </div>

      </div>
     </div>


  </body>


</html>
