<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <br>

  <body ng-app="app" style="background-color:#7B7D7D">
    <div ng-controller="EditController">
      <div ng-init="init()">
        Study Name:
        <input type="text" ng-model=study["study_name"]></input>

        
      </div>
     </div>
      

  </body>


</html>