<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/modules/core/client/css/core.css">
  <div class="text-center">
    <br>
    <br>
  </div>

  <body ng-app="app" style="background-color:#FFFFFF">
    <script>
      $('.dropdown-toggle').dropdown();
    </script>
    <h1 class ="text-center">
      <strong>Please select the patient's inclusion/exclusion criteria from the dropdown menu</strong>
    </h1>
    <div class="vertical-center" ng-controller="FilterController" ng-init="init()">
      <div id="hello" class="col-md-5">
        <section class="top-margin" id="filters">
          <h2>Filter</h2>
          <fieldset ng-repeat="requirement in sortedArrayOfAllRequirementsPossibleFromFilteredStudies | orderBy: 'requirementName' track by $index">
            <p ng-bind="requirement.requirementName"></p>
            <span ng-if="isBoolean(requirement)">
              <form action="">
                <input ng-change="filterStudies(requirement)" type="radio" ng-model="listOfAnswersByDatabaseName[requirement.databaseName]" ng-value="">  N/A<br>
                <input ng-change="filterStudies(requirement)" type="radio" ng-model="listOfAnswersByDatabaseName[requirement.databaseName]" ng-value=true>  True<br>
                <input ng-change="filterStudies(requirement)" type="radio" ng-model="listOfAnswersByDatabaseName[requirement.databaseName]" ng-value=false>  False<br>
              </form>
            </span>
            <span ng-if="isRange(requirement)">
              <form action="">
                <input ng-change="filterStudies(requirement)" type="text" ng-model="listOfAnswersByDatabaseName[requirement.databaseName]"><br>
              </form>
            </span>
            <span ng-if="isGender(requirement)">
              <form action="">
                <input ng-change="filterStudies(requirement)" type="radio" ng-model="listOfAnswersByDatabaseName.gender" value="male">  Male<br>
                <input ng-change="filterStudies(requirement)" type="radio" ng-model="listOfAnswersByDatabaseName.gender" value="female">  Female<br>
              </form>
            </span>
          </fieldset>
        </section>
        <br><br>
      </div>

      <div class="col-md-1">

      </div>

      <div class="col-md-6">
        <uib-accordion close-others="oneAtATime">
          <div class="sm-bottom-margin" nowrap ng-repeat="study in studiesThatMatchFilterParameters | orderBy: 'study_name'">
            <div uib-accordion-group class="panel-default" is-open="status.open">
              <uib-accordion-heading>
                Study Name: {{study.study_name}}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </uib-accordion-heading>
              <h3>
                <strong>
                  <em> Inclusion Criteria </em>
                </strong>
              </h3>
              <h4 data-ng-repeat="x in study.inclusion">
                »{{x}}
              </h4>
              <h3>
                <strong>
                  <em> Exclusion Criteria</em>
                </strong>
              </h3>
              <h4 data-ng-repeat="x in study.exclusion">
                »{{x}}
              </h4>
              <h3>
                <strong>
                  <em> Coordinator Information </em>
                </strong>
              </h3>
              <h4> {{study.coordinator}}</h4>
              <h4> {{study.coordinator_phone_number}}</h4>
              <h4> {{study.coordinator_email}}</h4>
              <br>
              <h3>
                <strong>
                  <em>Contact Coordinator</em>
                </strong>
              </h3>
          		<div>
          		<form name="contactForm" novalidate>
          			<input type="text" name="name" ng-model="contact.name" placeholder="Your name" required><br><br>
          			<textarea cols="80" rows="3" name="message" ng-model="contact.message" placeholder="Your notes about the patient" required>{{message}}</textarea><br><br>
          			<button class="btn btn-primary" type="submit" ng-click="postMail(contact,study)">Send</button>
          		</form>
          		</div>
            </div>
          </div>
          <div ng-if="noStudiesThatMatchParameters">
            <br><br>
            <h4>There are no studies that match the inclusion/exclusion principles</h4>
          </div>
        </uib-accordion>
      </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  </body>
</html>
