<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/modules/core/client/css/core.css">
  <div class="text-center">
    <br>
    <br>
  </div>

  <body ng-app="app" style="background-color:#FFFFFF">
    <!-- javascript for dropdown -->
    <script>
      $('.dropdown-toggle').dropdown();
    </script>
    <h1 class ="text-center">
      <strong>Please select the patient's inclusion/exclusion criteria from the dropdown menu</strong>
    </h1>
    <!-- using the filter controller to control data-->
    <div class="vertical-center" ng-controller="FilterController" ng-init="init()">
      <div id="hello" class="col-md-5 bottom-margin">
        <section class="top-margin" id="filters">
          <div class="top-margin">
            <h2>Filter</h2>
          </div>
          <fieldset ng-repeat="requirement in sortedArrayOfAllRequirementsPossibleFromFilteredStudies">
            <p ng-bind="requirement.requirementName"></p>
            <span ng-if="requirement.typeOfRequirement == 'Boolean'">
              <form action="">

                <!--call filterStudies function which filters out studies based on requirements selected by user -->
                <input ng-change="filterStudies(requirement)" type="radio" ng-model="listOfAnswersByDatabaseName[requirement.databaseName]" ng-value=true>  True<br>
                <input ng-change="filterStudies(requirement)" type="radio" ng-model="listOfAnswersByDatabaseName[requirement.databaseName]" ng-value=false>  False<br>
              </form>
            </span>
            <span ng-if="requirement.typeOfRequirement == 'Range'">
              <form action="">
                <input ng-change="filterStudies(requirement)" type="text" ng-model="listOfAnswersByDatabaseName[requirement.databaseName]"><br>
              </form>
            </span>
            <span ng-if="requirement.typeOfRequirement == 'Custom'">
              <form action="">
                <div ng-repeat="option in requirement.customOptions">
                  <input ng-change="filterStudies(requirement)" type="radio" ng-model="listOfAnswersByDatabaseName[requirement.databaseName]" ng-value="option">  {{option}} <br>
                </div>
              </form>
            </span>
          </fieldset>
        </section>
        <br><br>
      </div>

      <div class="col-md-1">

      </div>
<!-- filter will populate with studies that match user-selected parameters-->
      <div class="col-md-6">
        <uib-accordion close-others="oneAtATime">
          <div class="sm-bottom-margin" nowrap ng-repeat="study in studiesThatMatchFilterParameters | orderBy: 'study_name'">
            <div uib-accordion-group class="panel-default" is-open="status.open">
              <uib-accordion-heading>

                <!-- each study shows name, inclusion/exclusion criteria and coordinator information when clicked-->
                Study Name: {{study.study_name}}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </uib-accordion-heading>
              <h3>
                <strong>
                  <em> Inclusion Criteria </em>
                </strong>
              </h3>
              <!-- getting inclusion criteria from database-->
              <h4 data-ng-repeat="x in study.inclusion">
                • {{x}}
              </h4>
              <h3>
                <strong>
                  <em> Exclusion Criteria</em>
                </strong>
              </h3>
              <!-- getting exclusion criteria from database-->
              <h4 data-ng-repeat="x in study.exclusion">
                • {{x}}
              </h4>
              <h3>
                <strong>
                  <em> Coordinator Information </em>
                </strong>
              </h3>
              <h4> {{study.coordinator}}</h4>
              <h4> {{study.coordinator_phone_number}}</h4>
              <h4> {{study.coordinator_email}}</h4>
              <br>
              <h3>
                <strong>
                  <em>Contact Coordinator</em>
                </strong>
              </h3>
          		<div>
                <!-- user fills out contact form in order to notify study coordinators when a patient qualifies for their study-->
          		<form name="contactForm" novalidate>
          			<input type="text" name="name" ng-model="contact.name" placeholder="Your name" required><br><br>
          			<textarea cols="80" rows="3" name="message" ng-model="contact.message" placeholder="Your notes about the patient" required>{{message}}</textarea><br><br>
                <!-- calls postMail function to send email to coordinator with study name and additional notes-->
          			<button class="btn btn-primary" type="submit" ng-click="postMail(contact,study)">Send</button>
          		</form>
          		</div>
            </div>
          </div>

          <!-- if no studies match parameters, write message saying that no studies match parameters entered -->
          <div ng-if="noStudiesThatMatchParameters">
            <br><br>
            <h4>There are no studies that match the inclusion/exclusion principles</h4>
          </div>
        </uib-accordion>
      </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  </body>
</html>
