<!DOCTYPE html>
<html>
  <head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body ng-app="app" style="background-color:#ffffff">
    <div ng-controller="AuthenticationController">
      <link rel="stylesheet" href="/modules/core/client/css/core.css">
      <link rel="stylesheet" href="/modules/core/client/css/home.client.css">
      <h1 class="text-center">Welcome</h1>
      <div class="text-center">
        <div class="vertical-center">
          <br>
          <img src="modules/core/client/img/brand/2colorLogo.png" class="rounded mx-auto d-block" >
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div style="text-align: center">
            <button class="button-orange" type="button" ui-sref="filter">Guest</button>
          </div>
          <div class="divider">
            <button class="button-blue" type="button" ui-sref="signin">Coordinator Login</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
