<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/modules/core/client/css/core.css">
<link rel="stylesheet" href="/modules/core/client/css/home.client.css">
  <title>UF Directory</title>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>Manage Requirements</h1>
        <br>
      </div>
      <div class="row bottom-margin" ng-controller="ManageRequirementsController">
        <div class="col-md-2">

        </div>

        <div id="hello" class="col-md-8">
          <div class="input-group top-margin" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchEntry" ng-change="filterListOfRequirements()">
          </div>

          <br>

          <table class="table table-hover" ng-init=findRequirements()>
            <tr>
              <th>Requirement Name</th>
              <th>Type of Requirement</th>
              <th>Priority of Requirement</th>
              <th></th>
              <th></th>
            </tr>
            <tr ng-repeat="requirement in requirementsFiltered track by $index">
              <td ng-bind="requirement.requirementName"></td>
              <td ng-bind="requirement.typeOfRequirement"></td>
              <td ng-bind="requirement.priority"></td>
              <td><button type="button" class="form-control btn btn-primary"
                ui-sref="editRequirement({ requirement: requirement })">Edit</button>
              </td>
              <td><button type="button" class="form-control btn btn-danger"
                ng-click="deleteRequirementFromDatabase(requirement)">Delete</button>
              </td>
            </tr>
          </table>

          <br><br>

          <div class="sm-bottom-margin">
            <button type="button" class="btn btn-primary" ui-sref="createNewRequirement">Create New Requirement</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
