<!DOCTYPE html>
<html>
<div ng-controller="AuthenticationController">
  <link rel="stylesheet" href="/modules/core/client/css/core.css">
  <link rel="stylesheet" href="/modules/core/client/css/home.client.css">
  <!-- <div id='css3-spinner-svg-pulse-wrapper'>
    <svg id='css3-spinner-svg-pulse' version='1.2' height='210' width='550' xmlns='http://www.w3.org/2000/svg' viewport='0 0 60 60' xmlns:xlink='http://www.w3.org/1999/xlink'><path id='css3-spinner-pulse' stroke='#DE6262' fill='none' stroke-width='2' stroke-linejoin='round' d='M0,90L250,90Q257,60 262,87T267,95 270,88 273,92t6,35 7,-60T290,127 297,107s2,-11 10,-10 1,1 8,-10T319,95c6,4 8,-6 10,-17s2,10 9,11h210' /></svg>
  </div> -->
  <head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="app" style="background-color:#ffffff">
    <h1 class="text-center">Welcome</h1>
  <div class="text-center">
  <div class="vertical-center">


    <br>
    <img src="modules/core/client/img/brand/2colorLogo.png" class="rounded mx-auto d-block" >
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center">
      <button class="button-orange" type="button" ui-sref="filter">Guest</button>
    <div  class="divider" style="margin-left: 150px" />
    <button class="button-blue" type="button" ui-sref="administrator">Studies</button>
</div>
  </div>
  </div>

  </body>
</div>
</html>
