<!DOCTYPE html>
<html>
  <title>Studies</title>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>

   <body ng-app="app">
    <div class="container">
      <div class="row">
        <h1>Studies</h1>
      </div>

      <br>

      <div class="row" ng-controller="HomeController">
        <div class="col-md-6">
          <div class="input-group">
            <div class="form-group row-md-6">
              <select class="form-control" required>
                <option value="" selected disabled>Choose here</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>
        </div>

        <br>

        <div class="col-md-6">
          <div class="jumbotron">
            <div class="form-group row-md-6">
              <table class="table table-hover">
                <tr background-color="white">
                  <th>Code</th>
                  <th>Building Name</th>
                  <th></th>
                </tr>

                <tr ng-repeat="name in names track by $index" ng-click="showDetails(name.index)">
                  <td ng-bind="name.code"></td>
                  <td ng-bind="name.name"></td>
                </tr>
              </table>
             </div>
          </div>


      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOVUO8kG8pr6rf7kf6POIVVMJIwSOSp3A&callback"></script>
  </body>
</html>
