<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="app" style="background-color:#7B7D7D">
    <h1 class="text-center">Guest</h1>
	<div class="text-center">
	<div  class="vertical-center">
	<br>
		<br>
		<br>
		<button class="btn btn-primary" ui-sref="home">Back</button>
		<br>
		<br>
		<br>

	</div>
	</div>

  </body>

</html>
