<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="app" style="background-color:#7B7D7D">
    <h1 class="text-center">Guest</h1>
	<div class="text-center">
	<div  class="vertical-center">
	<br>
		<br>

    <h3> Hello User! This application allows you to choose whether you would like to view a list of all the studies or enter patient data to filter to a relevant study
    </h3>
    <br>
    <div class="row">
    	<div class="text-center">
    	   <div class="vertical-center">
    	       <br>
        <td><button class="btn btn-primary" ui-sref="home"  value="View Studies"/>View Studies</button></td>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
    		<button class="btn btn-primary" ui-sref="home">Filter</button>
    		<br>
    		<br>
    		<br>
        </div>
    	</div>
    </div>
		<br>
		<br>
		<br>

	</div>
	</div>

  </body>

</html>
