h1 {
  color: white;
}
#css3-spinner-svg-pulse-wrapper {
	position: absolute;
	overflow: hidden;
	width: 260px;
	height: 210px;
	top: 80%;
	left: 50%;
	margin-top: -105px;
	margin-left: -130px;
	background-color: transparent;
	animation: none;
	-webkit-animation: none;
}

#css3-spinner-svg-pulse {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -105px;
	margin-left: -275px;
}

#css3-spinner-pulse {
	stroke-dasharray: 281;
	-webkit-animation: dash 5s infinite linear forwards;
}

/*Animation*/
@-webkit-keyframes dash {
	from {
		stroke-dashoffset:814;
	}

	to {
		stroke-dashoffset:-814;
	}
}

@keyframes dash {
	from {
		stroke-dashoffset:814;
	}

	to {
		stroke-dashoffset:-814;
	}
}
body {
    height: 100%;
    margin: 0;

    /* The image used */
    background-image: url("https://cdn.shopify.com/s/files/1/0849/8378/products/Florida-Gatorhead-BS06.jpg?v=1488399340");
    /*background-image: url("http://training.health.ufl.edu/handouts/Templates/UF_background_orange_left_button.jpg");*/

		background-position: center;
    background-attachment: fixed;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
			 -moz-background-size: cover;
			 -o-background-size: cover;
			 background-size: cover;

}
